{# templates/examen/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Listado de Exámenes{% endblock %}

{% block body %}
    <h1>Listado de Exámenes</h1>

    {% if examenes is not empty %}
        <table class="table table-primary table-striped"> 
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Nota</th>
                    <th>Fecha</th>
                    <th>Eliminar</th>

                </tr>
            </thead>
             <tbody>
                {% for examen in examenes %}
                    <tr>
                        <td>{{ examen.materia }}</td>
                        <td>{{ examen.nota }}</td>
                        <td>{{ examen.fecha|date('Y-m-d H:i') }}</td>
                        <td>
                            <form action="{{ path('eliminar_examen', {'id': examen.id}) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este examen?');">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button  type="button" class="btn btn-outline-primary"> <a class="nav-link" href="{{ path('app_examen') }}">Volver a menu</a></button>

    {% else %}
        <p>No tienes exámenes registrados.</p>
    {% endif %}
{% endblock %}
